<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <h1> Guide to investing in real estate from start to finish </h1>
    <hr/>
    <ol>
      <li> <a href="/seota"> Get Property Information </a> </li>
      <li> <a href="/cash_flow"> Determine Cash Flow </a> </li>
    </ol>
  </body>
</html>
