<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">

        <div class="col-6">
          <div class="card">
            <h5 class="card-header"> Steps to getting Tenants and maintaining </h5>
            <div class="card-body">
              <ol>
                <li> Market the rooms/units in your area. Craigslist, Schools... etc. </li>
                <li> Get a phone card / mini application
                  <a target="_blank" href="https://docs.google.com/document/d/1RSh4nNgfwXMX0x8c24RMzF3t-TtLw-NUqXTKCu6UvNA/edit?usp=sharing">
                  (here)
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://docs.google.com/document/d/1_SX-ALevapBRr-TmMUbKTt3aQLDcB0YhfVLbAS6aCCk/edit?usp=sharing">
                    Give Prequalify Criteria and have it signed <i> before </i> viewing the unit
                  </a>
                </li>
                <li> Set up a time and meeting to show the unit </li>
                <li>
                  Give the potential tenant a
                  <a target="_blank" href="https://docs.google.com/document/d/1_EPvHeCp8PhWYH3739RqeP0TxRC2mZXZNBhe1noxJq4/edit?usp=sharing">
                    rental application form
                  </a>
                </li>
                <li>
                  Accept tenant and get them to sign the
                  <a target="_blank" href="https://docs.google.com/document/d/1Ntxn21qqXsWVsjzgVYUyGOMx-LiOUVqEKUAxbFKDvaE/edit?usp=sharing">
                    Move in sheet
                  </a>,
                  <a target="_blank" href="https://docs.google.com/document/d/1sZ2JAoPM9uUjQ7E43j-Z1vHhsffAaDy72FhpilRlU9I/edit?usp=sharing">
                      lease
                  </a>
                  and complete a
                  <a target="blank" href="https://drive.google.com/file/d/14U-g9kX6ddobfQLOwKCttLeHxa0Skzuf/view?usp=sharing">
                    move-in inspection
                  </a>
                </li>
                <li>
                  Near the end of the lease, we want to
                  <a target="_blank" href="https://docs.google.com/document/d/1OsElNB2Cphs_YLtSPRuFP1_Z-oroj0oB4ULBUEdaFJo/edit?usp=sharing">
                    Renew the lease
                  </a>
                  or
                  <a target="_blank" href="https://docs.google.com/document/d/1Vm4y6-uIaxNBk6vGRRATG79qatB8H7GCsvPzkQUmmFQ/edit?usp=sharing">
                      not renew the lease
                  </a>
                  , each require a notice
                </li>
              </ol>

              <p>
                <i>
                  For Bigger Pocket forms use: this google drive
                  <a target="_blank" href="https://drive.google.com/drive/folders/1yIY_hWlBvD3T45xvleRUiM-gNgpaopGm?usp=sharing">
                    folder
                  </a>
                </i>
              </p>

              <p>
                <i>
                  For Landlord Academy Forms use:
                  <a target="_blank" href="https://landlordacademy.com/legal-forms/">
                    rocket lawyer
                  </a>
                </i>
              </p>

              <p>
                <i>
                  When rejecting an application, use a
                  <a target="_blank" href="https://docs.google.com/document/d/1yh8MleSTffwc7fpQ8VBe4-exsaQikBKtujk2EHI5-u0/edit?usp=sharing">
                    Rejection Letter
                  </a>
                  and must be kept on file for 2 years.
                </i>
              </p>

              <p>
                <i>
                  Adding management to a property you want to give all tenants a:
                  <a target="_blank" href="https://docs.google.com/document/d/1Ph7rwyIPveCyhv3L03WQJ4BzSNLvBjKSB6LRH9Vm1Wo/edit?usp=sharing">
                    INTRODUCTION OF NEW MANAGEMENT TO TENANT FORM
                  </a>
                </i>
              </p>

            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card">
            <h5 class="card-header"> Problems with Tenants </h5>
            <div class="card-body">
              <ul>
                <li>
                  If tenant is passed the grace period of paying rent we need to issue a
                  <a target="_blank" href="https://docs.google.com/document/d/1IJf8pNBasw6LQXtwp5NqO6NnP7nC3P7Au_VaUeo1bkU/edit?usp=sharing">
                    Notice to pay rent or deliver possesions
                  </a>
                </li>

                <li>
                  If a tenant breaks a rule on the lease you want to give them a
                  <a target="_blank" href="https://docs.google.com/document/d/1-JCnw_ZEsNX0XCXPhAAlU643DedDM_DedcNXZMJacJs/edit?usp=sharing">
                    Lease violation notice with option to cure
                  </a>
                </li>

                <li>
                  If a tenant break a sever rule and want them out, you will need to give them a
                  <a target="_blank" href="https://docs.google.com/document/d/1T7etxv5S0vI0U2Ot0-RafFAIvX3h6UwUdCWpBunRyQ4/edit?usp=sharing">
                    Lease violation notice to terminate/vacate
                  </a>
                </li>

                <li>
                  If a tenant causes a disturbance, you will need to give them a
                  <a target="_blank" href="https://docs.google.com/document/d/1xphTzNZBqxh3CeNgDg9VGaAvv6tquGVKzIjceaEQfCo/edit?usp=sharing">
                    Disturbance Notice
                  </a>
                </li>

                <li>
                  If you need to deduct charges from a security deposit, you will need to hand them
                  <a target="_blank" href="https://docs.google.com/document/d/1Ld65PhNNqpLjDm3yUnOht04HKjzUBSwK3GWV6xrysLM/edit?usp=sharing">
                    NOTICE OF INTENTION TO IMPOSE CLAIM ON SECURITY DEPOSIT
                  </a>
                </li>

                <li>
                  If you enter the room you must give them a
                  <a target="_blank" href="https://docs.google.com/document/d/1x9Kyson2GpIbC-C_jyO3vRisezmQ1E1fJGHafNPvTFE/edit?usp=sharing">
                    NOTICE OF RESIDENT MANAGER’S/OWNER’S INTENT TO ENTER
                  </a>
                </li>

                <li>
                  If you need to evict a tenant, you must give them a
                  <a target="_blank" href="https://docs.google.com/document/d/1G_lP2V0q11O01x6A-HbO2EvPkGA-_o2D8vApoA1WLIM/edit?usp=sharing">
                    IMPORTANT NOTICE EVICTION PROCEEDINGS NOTICE
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
