<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">

        <div class="col-6">
          <div class="card">
            <h5 class="card-header"> Negotiate with the seller/realtor </h5>
            <div class="card-body">
              <small> Never agree to anything that is not on paper </small>
              <ol>

                <li> Visit the property, take notes, take a video and drive around the area
                  <a target="_blank" href="#">
                    example checklist
                  </a>
                </li>
                <li>
                  Negotiate and agree on price or create a
                  <a target="_blank" href="https://docs.google.com/document/d/18vJIUvzxzj06EOxhg7JNKM3AOgwFZTUnKv7iCZL3TgU/edit?usp=sharing"
                  >
                  offer letter
                  </a> -- get offer accepted!
                </li>
                <li>
                  Create letter of intent
                  <a target="_blank" href="https://docs.google.com/document/d/1NILjpz5sKfHf__6nE62aiVpMj1I3dWrvsXRPeLpSsDk/edit?usp=sharing">
                  (LLC example)
                  </a>
                  or
                  <a target="_blank" href="https://www.rocketlawyer.com/sem/intent-to-purchase-real-estate.rl#/">
                    here
                  </a>
                </li>

                <li> Start due diligence by hiring an inspector </li>

              </ol>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card">
            <h5 class="card-header"> Determine cash flow (specific property info) </h5>
            <div class="card-body">
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
