<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">

        <div class="col-6">
          <div class="card">
            <h5 class="card-header"> Negotiate with the seller/realtor </h5>
            <div class="card-body">
              <small> Never agree to anything that is not on paper </small>
              <ol>
                <li> Get financing (Lender) </li>
                <li> Visit the property, take notes on the conditions of things
                  <a target="_blank" href="https://docs.google.com/document/d/1646wp0SVz3IElwOS8SdAJwCLs8b7toctwAzLjIPt8z8/edit?usp=sharing">
                    (here),
                  </a>
                  take a video and drive around the area. To estimate the cost of repairs use:
                  <a target="_blank" href="https://docs.google.com/document/d/1CxevCac005PPfWSSPL5ZND2QeOU80446vnrN3Bv9pyc/edit?usp=sharing">
                    Repair Budget Form
                  </a>
                </li>
                <li>
                  Negotiate and agree on price or create a
                  <a target="_blank" href="https://docs.google.com/document/d/18vJIUvzxzj06EOxhg7JNKM3AOgwFZTUnKv7iCZL3TgU/edit?usp=sharing"
                  >
                  offer letter
                  </a> -- get offer accepted!
                </li>
                <li>
                  Create letter of intent
                  <a target="_blank" href="https://docs.google.com/document/d/1NILjpz5sKfHf__6nE62aiVpMj1I3dWrvsXRPeLpSsDk/edit?usp=sharing">
                  (LLC example)
                  </a>
                  or
                  <a target="_blank" href="https://www.rocketlawyer.com/sem/intent-to-purchase-real-estate.rl#/">
                    (Through rocket lawyer)
                  </a>
                </li>
                <li>
                  Minimum Due Diligence: (Title inspection, Document inspection, Physical Inspection)
                  - Check Brandon Turner, The Book on Rental Property Investing
                </li>
              </ol>
              <p> For an in depth 'Due Diligence' process use this
                <a target="_blank" href="https://docs.google.com/document/d/1YUQ4sHDQ3N146yyVBcrPCWkzpf11_rUbOmgrJpyqwZE/edit?usp=sharing">
                  action list and check off everything as you go.
                </a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card">
            <h5 class="card-header"> Your offer has been accepted </h5>
            <div class="card-body">
              <p> <strong> In no particular order you need to do the following </strong> </p>
              <p>
                Appraisal step - lender will assign an appraisal (try to work with them to learn their process.
                Which is similar to seota.
              </p>
              <p> Lender Inspection </p>
              <p> Get insurance (Insurance for Landlors  - ACV & Umbrella) </p>
              <p> Get checkings and savings account for the property (Have a rainy day fund for the property) </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
