<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <h1> How to find a good investment property </h1>
    <hr>

    <!-- STEP 1 -->
    <h3>SEOTA  - Strategic Evaluation Of A Target Area (Bryan M. Chavis - Buy It, Rent It, Profi!)</h4>

    <p> <strong> Find your target area </strong> <p>
    <p> Building Permits: Check to see if there are any in your area. This means growth! </p>
    <p> Employment: How is the employment in the area </p>
    <p> Criminal Activity: Make sure there are no criminal activity in the area () </p>
    <p> What is the average household size: Does it match up with the property you are looking for? </p>
    <p> Demographics: Who will you be renting to, is the population in this are increasing? </p>
    <p> Psychographics: Why is someone renting from you in this area? Is this a family area? school? etc. </p>
    <p> Mortgage interest rates: If these are low, then people will not be interested in renting here. </p>
    <p> Rental rates: What are the rental rates in the area? More renters == higher rents </p>
    <p> Occupancy rates: What is the rate of average occupancy? 5% (single family), 10% (College, Multi Unit) </p>
    <p>  </p>
  </body>
</html>
